@page
@model IBBS.Pages.BurgerItemsModel

@{
    ViewData["Title"] = "BurgerItems";
}

<h1>BurgerItems</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurgerItems[0].Burgerbun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurgerItems[0].Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurgerItems[0].Vegetables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurgerItems[0].Sauce)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BurgerItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Burgerbun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sauce)
            </td>
        </tr>
}
    </tbody>
</table>
