@page
@model IBBS.Pages.UserListModel
@using IBBS.Models
@inject UserManager<Users> userManager
@{
    ViewData["Title"] = "User List";
}

<h1>Manage Users</h1>


    <head>
        <div class="headerDiv">
            <h2 id="name">Name</h2>
            <h2 id="email">Email</h2>
        </div>
    </head>
    <body>
        <div class="bodyDiv">
            @foreach (var item in Model.Users)
            {

                <div class="userInfo" id="userName">
                    @{
                        var fullName = item.FirstName + " " + item.LastName;
                        @Html.DisplayFor(i => fullName);
                    }
                </div>
                <div class="userInfo" id="userEmail">
                    @Html.DisplayFor(modelItem => item.Email)
                </div>
                <div class="userInfo" id="giveAdminbtn">
                    @if (!await userManager.IsInRoleAsync(item, "Admin"))
                    {
                        <form method="post" asp-route-UserName="@item.UserName" asp-page-handler="MakeAdmin">
                            <button class="myButton" type="submit">Give Admin!</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-route-UserName="@item.UserName" asp-page-handler="RemoveAdmin">
                            <button class="myButton" type="submit">Remove Admin!</button>
                        </form>
                    }

                </div>
                <div class="userInfo" id="banbtn">
                    @if (!await userManager.IsLockedOutAsync(item))
                    {
                        <form method="post" asp-route-UserName="@item.UserName" asp-page-handler="BanUser">
                            <button class="myButton" type="submit">Ban user!</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-route-UserName="@item.UserName" asp-page-handler="RemoveBan">
                            <button class="myButton" type="submit">Remove ban!</button>
                        </form>
                    }
                </div>
                <div class="userInfo" id="removeAccountbtn">
                    <form class="removeFunction" id="removebtn" method="post" asp-route-UserName="@item.UserName" asp-page-handler="RemoveAccount">
                        <button class="myButton testar" id="test"  type="submit" value="@item.Email">Remove account!</button>
                    </form>
                </div>
                <br />
                <br />
            }
        </div>
    </body>
